:root {
  --color-1: rgb(208,233,233);
  --color-2: rgb(54, 85, 143);
  --color-3: rgb(10, 34, 73);
  --color-4: rgb(18, 18, 117);
  --color-5: rgb(236, 236, 247);
  --color-6: rgb(61, 126, 88);
  
}

*{
  padding: 0 auto;
 }

 html{
  
  padding-left: 10%;
  font-family: sans-serif bold;
  background-color: rgb(210, 210, 241);
  width: 80%;

 }

body{
  display: inline-block;
}

h1 {
  font-size: 2rem;
  text-align: center;
  background-color: var(--color-6);
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  background-color: var(--color-2);
}
#bienvenidos{
  font-size: small;
}

#contactanos{
  text-align: center;
}

.contenedor-banner{
  
  margin-top: 30px;
  background-color: rgb(202, 214, 236);
  width: auto;
  height: 320px;

}.contenedor-inicio{

  float: left;
  width: 430px;
  height: 270px;
  border-bottom: solid 5px rgba(54,85,143);
  border-left: solid 5px rgba(54,85,143);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
  padding: 20px;
  border-radius: 10px;
  margin-left:  30px;
}

.imagen-bienvenidos{

  float: right;
  width: 430px;
  height: 270px;
  border-bottom: solid 5px rgba(54,85,143);
  border-left: solid 5px rgba(54,85,143);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
  padding: 20px;
  border-radius: 10px;
  margin-right:  30px;
}

.inicio{
  
  width: 400px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0.3s ease;
  color: black;
  text-decoration: none;
  text-align: center;
  background-color: var(--color-2);
  border-radius: 8px;
  border-width: 9px;
  border:solid 4px black;
  padding: 5px;
  margin:5px;
}
.inicio:hover{
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
  color:rgba (166,218,200,3);
  font-size: 1.8rem;

}
.parrafo-inicio{

  float: right;
  background-color: var(--color-6);
  width: 400px;
  height: 180px;
  font-size: 2rem;
  color: black;
  padding: 20px;
  margin: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
}
  
  div {
    display: inline-block;
  }

  .logo {
    display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
  }

  .imagen{
    display:inline-block;
    transition: color 0.4s ease;
    background-color: rgb(210, 210, 241);
    padding: 1rem;
    margin: 5px;
    height: 403px;
    width: 403px;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 5px rgb(113, 134, 172);
    border-radius: 4px;
  }

  .imagen:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);

  }

.cajas{
  background-color: var(--color-2);
  text-align:center;
  margin: 0px;
}


  .contenedor-parrafo{ 
  
     background-color: var(--color-2);
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     box-sizing: border-box;
    }
     
  #cajas-botones{

     background-color: var(--color-2);
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     box-sizing: border-box;
   }

.contenedor-flexible{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
}
table {
  background-color: azure;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  border: solid 6px var(--color-6);
  margin-bottom: 20px; border-radius: 4px;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
}
th{
  
  
  
  

}

footer{text-align: center;}
  